<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet1</servlet-name>
        <servlet-class>servlet.LoginServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveBook</servlet-name>
        <servlet-class>servlet.SaveBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSaveBook</servlet-name>
        <servlet-class>servlet.AdminSaveBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet1</servlet-name>
        <url-pattern>/LoginServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveBook</servlet-name>
        <url-pattern>/SaveBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSaveBook</servlet-name>
        <url-pattern>/AdminSaveBook</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>
            MainPage.jsp
        </welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
</web-app>
